[Unit]
Description=Barebones air quality monitoring web application
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/air-detector/barebones-webapp
ExecStart=/home/pi/air-detector/barebones-webapp/.venv/bin/gunicorn -b 0.0.0.0:8080 -w 4 app:app
Restart=always

[Install]
WantedBy=multi-user.target
